.DS_Store
.env
node_modules
build
plugins/elasticpress
plugins/polylang
plugins/redis-cache
plugins/wordpress-importer
plugins/wp-super-cache
plugins/akismet
plugins/hello.php
plugins/index.php
plugins/safe-svg
plugins/polylang-pro
plugins/plugin-check
themes/twentytwentyfive
themes/twentytwentyfour
themes/twentytwentythree
themes/index.php
.intelephense
.history
/vendor/
wordpress
/plugins/git-updater/
/wp-content/plugins/git-updater/
/dist/