.section-courses {
  position: relative;

  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding-top: 50px;
  padding-bottom: 10px;

  background-color: rgb(87 161 228 / 20%);
}

.section-courses::before {
  content: "";

  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;

  width: 100%;
  height: 50px;

  background: var(--wp--preset--color--primary);
  border-bottom-right-radius: 100% 50px;
  border-bottom-left-radius: 100% 50px;
}

.course-card-title a {
  font-family: var(--wp--preset--font-family--primary);
  font-size: 19px;
  color: var(--wp--preset--color--primary);
  text-shadow: 1px 1px 2px rgb(0 0 0 / 50%);
}

.section-courses .taxonomy-category a {
  pointer-events: none;
  cursor: default;

  padding: 10px;

  font-family: var(--wp--preset--font-family--primary);
  font-size: 19px;
  color: var(--wp--preset--color--secondary);
  text-transform: uppercase;
}

.section-courses .courses-title {
  z-index: 2;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
}

.course-card li {
  align-items: center;
  background-color: var(--wp--preset--color--secondary);
  border-radius: 6px;
}

.course-card-category {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 10px;

}

.course-card {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  justify-content: center;

  margin: 20px 0;
  padding: 10px;
}

.course-card-content {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.course-card-excerpt {
  max-width: 70%;
  padding: 10px;

  font-family: var(--wp--preset--font-family--primary);
  color: var(--wp--preset--color--primary);
  text-align: justify;
  text-shadow: 1px 1px 2px rgb(0 0 0 / 50%);
}

.course-card-excerpt p {
  margin-right: 10px;

  font-family: var(--wp--preset--font-family--primary);
  color: var(--wp--preset--color--primary);
  text-align: justify;
  text-shadow: 1px 1px 2px rgb(0 0 0 / 50%);
}

.course-card figure {
  position: absolute;
  top: -30px;
  right: 0;

  flex: 0 0 auto;

  max-width: 30%;
  margin: 0;
  padding: 10px;
}

.course-card-title {
  align-self: flex-start;

  padding: 10px;

  font-family: var(--wp--preset--font-family--primary);
  font-size: 19px;
  color: var(--wp--preset--color--primary);
  text-shadow: 1px 1px 2px rgb(0 0 0 / 50%);
}




@media screen and (width >= 400px) {
  .section-courses {
    padding: 10% 10% 10px;
  }
}

@media screen and (width >= 600px) {
  .section-courses {
    padding: 10% 15% 20px;
  }

  .course-card {
    gap: 60px;
  }

  .course-card figure {
  top: -40px;
  }

  .section-courses .taxonomy-category a {
    font-size: 24px;
  }
}

@media screen and (width >= 768px) {
  .section-courses {
    padding: 10% 20% 20px;
  }

  .section-courses .taxonomy-category a {
    font-size: 28px;
  }

  .course-card figure {
  top: -40px;
  }
}

@media screen and (width >= 1170px) {
  .section-courses {
    padding: 10% 4% 20px;
  }

  .course-card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
    align-items: stretch;

    height: 100%;
    margin-top: 60px;
  }

  .course-card-excerpt p {
    margin-right: 20px;
  }

  .course-card figure {
    top: -60px;
  }

  .course-card-title a {
    font-size: 24px;
  }

  .course-card .wp-block-post {
    display: flex;
    flex-direction: column;
  }

  .section-courses .course-card li {
    padding: 20px;
  }

  .section-courses .course-card li:only-child {
    max-width: 50%;
    margin-right: auto;
    margin-left: auto;
  }


  .section-courses .course-card > :last-child:nth-child(odd) {
    grid-column: 1 / -1;
    justify-self: center;
    max-width: 50%;
  }

}

@media screen and (width >= 1440px) {
  .section-courses {
    padding: 10% 10% 20px;
  }

  .course-card {
    gap: 90px;
    margin-top: 60px;
  }

  .section-courses .course-card li {
    padding: 30px;
  }

  .course-card figure {
    top: -80px;
  }

}