.post-course {
  padding-top: 10px;
  padding-bottom: 10px;
}

.post-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: var(--wp--preset--color--background);
  border-radius: 6px;
}

.post-wrapper .wp-block-post-title {
  width: 100%;
  padding: 10px;

  font-family: var(--wp--preset--font-family--primary);
  font-size: 18px;
  color: var(--wp--preset--color--secondary);
  text-align: center;
}

.post-wrapper .wp-block-post-content p {
  padding: 10px;

  font-family: var(--wp--preset--font-family--primary);
  font-size: 16px;
  color: var(--wp--preset--color--text-secondary);
  text-align: justify;
}

.post-wrapper .wp-block-post-content a:hover {
  color: var(--wp--preset--color--accent);
}

.post-wrapper .wp-block-post-content ul {
  margin-left: 10px;
  padding-left: 20px;
  list-style-position: outside;
  list-style-type: disc;
}

.post-wrapper .wp-block-post-title .wp-block-buttons {
  display: block;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin: 10px;
}

@media (width >= 600px) {
  .post-course {
  padding-top: 20px;
  padding-bottom: 20px;
}

  .post-wrapper .wp-block-post-title  {
    font-size: 20px;
  }

  .post-wrapper .wp-block-post-content p {
    font-size: 19px;
  }
}

@media (width >= 1170px) {
  .post-course {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .post-wrapper .wp-block-post-title  {
    font-size: 24px;
  }

  .post-wrapper .wp-block-post-content p {
    font-size: 20px;
  }
}

@media (width >= 1440px) {
  .post-course {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .post-wrapper .wp-block-post-title  {
    font-size: 28px;
  }

  .post-wrapper .wp-block-post-content p {
    font-size: 24px;
  }

  .post-wrapper .wp-block-post-content .wp-block-buttons a {
    font-size: 19px;
  }
}
