.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
}

.footer-address-container {
  width: 100%;
  background-color: var(--wp--preset--color--secondary);
}

.footer-address {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  padding: 20px 0;

  font-size: 16px;
}

.footer-docs {
  display: flex;
  flex-direction: row;
  gap: 6%;
  align-items: center;
  justify-content: center;

  padding: 20px 10px;
}

footer .wp-block-media-text {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

footer .wp-block-media-text > .wp-block-media-text__content {
    align-self: center;
    padding: 0;
}

.footer-charter,
.footer-certificate {
  display: flex;
}

.footer-link {
  display: inline-flex;
  gap: 8px;
  align-items: center;

  font-family: var(--wp--preset--font-family--primary);
  font-size: 14px;
  color: var(--wp--preset--color--text-secondary);
  text-wrap: nowrap;
}



footer .wp-block-media-text figure img {
  display: block;
  width: 30px;
  padding: 0;
}

.footer-address a {
  font-size: 16px;
  color: var(--wp--preset--color--primary);
  text-shadow: 1px 1px 2px rgb(0 0 0 / 50%);
}

.footer-p {
  padding: 0 0 10px;

  font-family: var(--wp--preset--font-family--primary);
  font-size: 12px;
  color: var(--wp--preset--color--text-primary);
  text-align: center;
}

@media screen and (width >= 600px) {
  .footer-address a {
    font-size: 16px;
  }

  .footer-link {
    font-size: 14px;
  }

  .footer-p {
    font-size: 12px;
  }
}

@media screen and (width >= 1440px) {
  .footer-address a {
    font-size: 19px;
  }

  footer .wp-block-media-text figure img {
    width: 60px;
  }

  .footer-link {
    font-size: 18px;
  }

  .footer-p {
    font-size: 16px;
  }
}