.front-page-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 10px;
}

.front-page-title {
  padding: 10px;

  font-family: var(--wp--preset--font-family--primary);
  font-size: 19px;
  color: var(--wp--preset--color--secondary);
  text-transform: uppercase;
}

.front-page-section < .wp-block-post-content {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
}

.front-page-section .wp-block-media-text {
  margin: 10px 0;
}

.front-page-section .wp-block-media-text .wp-block-media-text__media {
  flex: 1 1 20%;
  align-self: flex-start;
}

.front-page-section .wp-block-media-text .wp-block-media-text__content {
  display: flex;
  flex: 1 1 80%;
  flex-direction: column;
  align-self: flex-start;

  padding: 0;
}

.front-page-section .wp-block-media-text .wp-block-media-text__media img {
  max-width: 100%;
  margin: 0 auto;
  padding: 10px
}

.front-page-section .wp-block-heading {
  padding: 10px;

  font-family: var(--wp--preset--font-family--primary);
  font-size: 16px;
  color: var(--wp--preset--color--secondary);

  box-shadow: none;
}

.front-page-section .wp-block-media-text__content p {
  padding: 10px;
  font-family: var(--wp--preset--font-family--primary);
  color: var(--wp--preset--color--text-secondary);
  text-align: justify;
}

.front-page-section .wp-block-media-text__content .wp-block-list {
  flex-direction: column;
  justify-content: center;

  margin-left: 10px;
  padding-left: 20px;

  list-style-position: outside;
  list-style-type: disc;
}

.front-page-section .wp-block-media-text__content .wp-block-list li {
  padding: 10px 10px 10px 0;

  font-family: var(--wp--preset--font-family--primary);
  font-size: clamp(0.875rem, 0.875rem + ((1vw - 0.2rem) * 0.469), 1.25rem);
  font-weight: 500;
  font-style: normal;
  line-height: 1.6;
  color: var(--wp--preset--color--text-secondary);
  text-align: justify;
  text-decoration: none;
  letter-spacing: 0;
}

@media (width >= 600px) {
  .front-page-title {
    font-size: 24px;
  }

  .front-page-section .wp-block-heading {
    font-size: 19px;
  }

  .front-page-section .wp-block-media-text__content p {
    font-size: 19px;
  }

  .front-page-section .wp-block-media-text__content .wp-block-list li {
  font-size: 19px;
  }
}

@media (width >= 768px) {
  .front-page-title {
    font-size: 28px;
  }

  .front-page-section .wp-block-media-text > .wp-block-media-text__content {
    padding: 0;
  }

  .front-page-section .wp-block-heading {
    font-size: 20px;
  }

  .front-page-section .wp-block-media-text__content p {
    font-size: 20px;
  }

  .front-page-section .wp-block-media-text__content .wp-block-list li {
  font-size: 20px;
  }
}

@media (width >= 1170px) {
  .front-page-section < .wp-block-post-content {
    margin: 20px 100px;
  }

  .front-page-section .wp-block-media-text__media img,
  .front-page-section .wp-block-media-text__media video {
    width: 80%;
  }
}

@media (width >= 1440px) {
  .front-page-section {
    padding: 20px 40px;
  }

  .front-page-section .wp-block-post-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin: 20px;
  }

  .front-page-section .wp-block-post-content > :last-child:nth-child(odd) {
    grid-column: 1 / -1;
    justify-self: center;
    max-width: 50%;
  }

  .front-page-section .wp-block-media-text .wp-block-media-text__media img {
    width: 150px;
  }

  .front-page-section .wp-block-heading {
    font-size: 24px;
  }

  .front-page-section .wp-block-media-text__content p {
    font-size: 24px;
  }

  .front-page-section .wp-block-media-text__content .wp-block-list li {
    font-size: 24px;
  }
}
