/* stylelint-disable selector-class-pattern */

/* Mobile devices */
header {
  position: relative;

  overflow: hidden;

  height: 80%;

  border-bottom-right-radius: 100% 50px;
  border-bottom-left-radius: 100% 50px;
}

.header {
  height: 333px;
}

.header .wp-block-cover__image-background {
  object-fit: cover;
  object-position: center bottom; 
}


.header.wp-block-cover:not([style*="background-image"]) .wp-block-cover__background {
  background: transparent;
}

.header-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 100%;
  margin: 0 auto;

  color: var(--wp--preset--color--primary);
  text-shadow: 1px 1px 2px rgb(0 0 0 / 50%);
}

.wp-block-site-logo img {
  max-width: 100px;
  border-radius: 50px;
  box-shadow: 0 2px 6px rgb(0 0 0 / 10%);
}

.wp-block-site-logo.is-default-size img {
  max-width: 50px;
}

.header-wrapper {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  width: 100%;
  padding: 10px;

  background-color: transparent;

  transition:
    background-color 0.3s ease,
    box-shadow 0.3s ease;
}

body.admin-bar .header-wrapper {
  top: 46px;
}

.header-wrapper.scrolled {
  background-color: var(--wp--preset--color--opacity-secondary);
  box-shadow: 0 2px 6px rgb(0 0 0 / 10%);
}

body.admin-bar .header-wrapper.scrolled {
  top: 0;
}

.nav-container {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
}

.accessibility {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;

  width: 100%;
}

.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.nav-link {
  color: var(--wp--preset--color--primary);
  text-shadow: 1px 1px 2px rgb(0 0 0 / 50%);
}

.nav-link a:hover span {
  color: var(--wp--preset--color--accent);
}

.wp-block-page-list {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  background: none;
}

.wp-block-navigation-item {
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
}

.header-title a {
  font-family: var(--wp--preset--font-family--primary);
  font-size: 20px;
  line-height: 1.25;
  color: var(--wp--preset--color--primary);
  text-shadow: 1px 1px 2px rgb(0 0 0 / 50%);
  letter-spacing: 0.05em ;
}

.login {
  display: none;
  align-items: center;
  justify-content: center;

  padding: 10px 30px;

  background-color: var(--wp--preset--color--primary);
  border-radius: 60px;
  box-shadow: 0 2px 6px rgb(0 0 0 / 10%);
}

.login a {
  color: var(--wp--preset--color--secondary);
  text-shadow: none;
  white-space: nowrap;
}

.widget_polylang ul a {
  color: var(--wp--preset--color--primary);
  text-decoration: none;
}

.lang li a {
  color: var(--wp--preset--color--primary);
  text-decoration: none;
}

.login a:hover {
  color: var(--wp--preset--color--accent);
}

.lang {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: end;

  padding: 10px 20px;

  color: var(--wp--preset--color--primary);
  list-style: none;

  border-radius: 60px;
}

.widget_polylang ul {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: end;

  padding: 10px 20px;

  color: var(--wp--preset--color--primary);
  list-style: none;

  border-radius: 60px;
}



.wp-block-navigation__responsive-container-open {
  padding: 10px;
  background-color: var(--wp--preset--color--primary);
  border-radius: 6px;
  stroke: var(--wp--preset--color--secondary);
}

.header-title {
  align-self: flex-start;

  max-width: 60%;
  margin-top: 40px;

  font-size: 28px;
  line-height: 1.25;
  color: var(--wp--preset--color--primary);
  text-shadow: 1px 1px 2px rgb(0 0 0 / 50%);
  letter-spacing: 0.05em;
}

@media screen and (width >= 600px) {
  .header {
    height: 340px;
  }

  .wp-block-site-logo.is-default-size img {
    max-width: 100px;
  }

  .accessibility{
    display: flex;
  }

  .login {
    display: flex;
  }

  .wp-block-navigation__responsive-container-content {
    position: relative;
    left: -4%;

    padding: 10px 30px;

    background-color: var(--wp--preset--color--opacity-secondary);
    border-radius: 60px;
    box-shadow: 0 2px 6px rgb(0 0 0 / 10%);
  }

  .nav-container {
    flex-direction: column;
    width: 100%;
  }

  .nav-link {
    gap: 10px;
    margin: 0 auto;
  }


  .header-title {
    margin-top: 10px;
    font-size: 28px;
  }

  .header-title a {
    font-size: 28px;
  }
}

@media screen and (width >= 601px) {
  body.admin-bar .header-wrapper.scrolled {
    top: 46px;
  }
}

/* Tablets */
@media screen and (width >= 768px) {
  .header {
    height: 460px;
  }

  .header-container {
    padding: 20px;
  }

  .header-wrapper {
    padding: 20px;
  }

  .header .wp-block-navigation__responsive-container-content {
    left: -11%;}

  .header .login {
    padding: 10px 30px;
  }

  .header-title {
    font-size: 38px;
    line-height: 1.25;
    letter-spacing: 0.05em;
  }

  .header-title a {
    font-size: 38px;
    line-height: 1.25;
    letter-spacing: 0.05em;
  }
}

@media screen and (width >= 783px) {
  .header-wrapper.scrolled {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  body.admin-bar .header-wrapper.scrolled {
    top: 31px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media screen and (width >= 1170px) {
  .header {
    height: 660px;
  }

  body.admin-bar .header-wrapper {
    top: 32px;
    padding: 20px;
  }

  .header .wp-block-site-logo.is-default-size img {
    max-width: 120px;
  }

  .header .wp-block-navigation-item {
    font-size: 22px;
  }

  .header-title a {
    font-size: 48px;
  }

  .header .login a {
    font-size: 22px;
  }

  .header .nav-link {
    gap: 30px;
  }

  .header .header-title {
    max-width: 50%;
    font-size: 48px;
  }

}

/* Desktops */
@media screen and (width >= 1440px) {
  .header {
    height: 750px;
  }

  .header-container {
    padding: 40px;
  }

  .header-wrapper {
    flex-direction: row;
    justify-content: space-between;
    padding: 40px;
  }

  body.admin-bar .header-wrapper {
    padding: 40px;
  }

  .header .wp-block-navigation-item {
    font-size: 24px;
    line-height: 1.15;
  }

  .header .wp-block-site-logo.is-default-size img {
    max-width: 150px;
  }

  .header-title {
    max-width: 50%;
    font-size: 54px;
    line-height: 1.25;
    letter-spacing: 0.05em;
  }

  .header-title a {
    font-size: 54px;
    line-height: 1.25;
    letter-spacing: 0.05em;
  }

  .header .login a {
    font-size: 24px;
  }
}

/* ===== Mobile Navigation Overlay additions ===== */

.wp-block-navigation:not(.has-background) .wp-block-navigation__responsive-container.is-menu-open {
  background-color: rgb(0 0 0 / 50%);
}

.header .is-menu-open .wp-block-navigation__responsive-container-content {
  padding: 10px 10px 20px;
  background-color: var(--wp--preset--color--secondary);
  box-shadow: 0 2px 6px rgb(0 0 0 / 10%);
}

.header .is-menu-open .wp-block-navigation__responsive-close {
  display: flex;
  margin: 0;
}

.header .wp-block-navigation__responsive-container-close.wp-block-navigation__responsive-container-close.wp-block-navigation__responsive-container-close {
  margin: 10px;
  color: var(--wp--preset--color--primary);
}

.header .is-menu-open .wp-block-navigation__responsive-container-close svg {
  background-color: rgb(255 0 0 / 50%);
  border-radius: 6px;
  box-shadow: 0 2px 6px rgb(0 0 0 / 10%);
}

.has-modal-open .admin-bar .is-menu-open .wp-block-navigation__responsive-dialog {
  width: 100%;
}

.header .has-modal-open .admin-bar .is-menu-open .wp-block-navigation__responsive-dialog.scrolled {
  margin-top: 0;
}

.header .wp-block-navigation__responsive-container.is-menu-open .wp-block-navigation__responsive-container-content {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;

  padding: 0;
}


.header .wp-block-navigation__responsive-container.is-menu-open .wp-block-navigation__responsive-container-content .wp-block-navigation__container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header .wp-block-navigation__responsive-container.is-menu-open .wp-block-navigation__responsive-container-content > .wp-block-navigation__container:last-child {
  display: flex;
  flex: 0 0 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header .is-menu-open .wp-block-loginout {
  padding: 10px;
}

.header .is-menu-open .wp-block-loginout a {
  font-size: 19px;
  color: var(--wp--preset--color--primary);
  text-shadow: 1px 1px 2px rgb(0 0 0 / 50%);
}

.header .is-menu-open .wp-block-loginout a:hover {
  color: var(--wp--preset--color--accent);
}

.header .is-menu-open .wp-block-navigation__container .lang-item a {
  font-size: 19px;
  color: var(--wp--preset--color--primary);
  text-shadow: 1px 1px 2px rgb(0 0 0 / 50%);
}

.header .wp-block-navigation__responsive-container.is-menu-open .wp-block-navigation__responsive-container-content .wp-block-navigation-item {
  align-items: center;
  margin: 0;
  padding: 10px;
}

.header .wp-block-navigation__responsive-container.is-menu-open .wp-block-navigation__responsive-container-content > .wp-block-navigation__container:last-child li a{
  font-size: 19px;
  color: var(--wp--preset--color--primary);
  text-shadow: 1px 1px 2px rgb(0 0 0 / 50%);
}

@media screen and (width >= 600px) {
  .header .wp-block-navigation__responsive-container .wp-block-navigation__responsive-container-content > *:not(:last-child) {
    display: none;
  }
}